h2{
  color:#7AAEFF;
  text-decoration:underline;
  font-family:helvetica;
}
body{
  background-image:url(https://assets-eu-1.generation-y.net/5s4StuYMHgBpneoDVn_GXzzlU7A=/fit-in/700x600/assets-generation-y.s3.amazonaws.com/pinewood/uploads/asset/data/219/ib_logo_triling_2012_med.jpg);
}
p, li{
  color:grey;
  transition:2s
}
p:hover, li:hover{
  font-size:45px;
}
h1{
  color:black;
  font-size:75px
} 
img{
  align:middle;
  animation: big 2s;
  width:250px;
  height:250px
}
@big{
  from:{width:250px;
    height:250px}
  to:{width:300px;
    height:300px}
}

